body{
    background-image: url(/images/bg1.jpg);
    
}
h1{
    color: #fff;
    justify-content: center;
    display: flex;
    font-size: 36px;
}

a{
    text-decoration: none;
    outline: none;
    color: #fff;
    background: none;
    
}
a:hover{
    color: rgb(117, 110, 110);
    transition: 0.3s ease-in-out;
}

.links{
   justify-content: center;
   display: flex;
   flex-direction: column;
   padding: 4em;
   

}